* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: black;
  line-height: 2.4;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  margin: 1.5rem 0;
  border-top: 1px solid #d4d4d4;
}

h5 {
  font-weight: 600 !important;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 2rem 1rem;
  background-image: linear-gradient(45deg, #f573c3 0%, #5151c6 100%);
  background-size: cover;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 25rem;
  width: 100%;
}

.top-nav {
  margin-bottom: 1rem;
}

.nav-button {
  background-color: #5151c6;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #3a3aa1;
}

.info-card {
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.intro {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro img {
  width: 4rem;
  height: auto;
  border-radius: 25%;
}

.intro a:hover {
  color: #3a3aa1;
}

.iconify {
  font-size: 1rem;
  vertical-align: middle;
  margin-right: 5px;
}

.work a:hover {
  color: #3a3aa1;
}

.skill-title {
  color: #5151c6;
}

.project-title {
  color: #5353b9;
}

#projects a:hover {
  color: #3a3aa1;
}

